<style>
	.picture_tile { margin: 50px 0px;	}
</style>

<table class="picture_tile">
	<tbody>
		<tr>
			<% @pictures.each do |p| %>
				<td class="menu-image"><%= image_tag p.image.url(:thumb).to_s %></td>
			<% end %>
		</tr>
	</tbody>
</table>
