$color1: #FCFADF;

body {
  background-color: $color1;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#header {
  background-color: #F83E5B;
  min-height: 5.3em;
  margin: 0;
  color: #f8f8f8;
  padding: 4px 8px 20px 6px;
  position: relative;
  a {
    color: #f8f8f8;
  }
  h1 a.ancestor {
    font-size: 80%;
  }
}

h1.headline {
  background-color: #FF8940;
  padding: 5px;
  width: 85%;
}

h2.headline {
  background-color: #DF38B1;
  padding: 5px;
  width: 70%;
}

h3.headline {
  background-color: #6BEC3B;
  padding: 5px;
  width: 60%;
}

th {
  background-color: #6BEC3B;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#main-menu {
  position: absolute;
  bottom: 0px;
  left: 6px;
  margin-right: -500px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    list-style-type: none;
    margin: 0px 2px 0px 0px;
    padding: 0px 0px 0px 0px;
    white-space: nowrap;
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      margin: 0;
      padding: 4px 10px 4px 10px;
      &:hover {
        background: #759FCF;
        color: #fff;
      }
      &.selected {
        background: #fff;
        color: #555;
        &:hover {
          background: #fff;
          color: #555;
        }
      }
    }
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.menu-image img {
  background-color: white;
  padding: 5px;
  border: #BBBBBB 1px solid;
}

.pagination {
  text-align: center;
}

